body {
	width: 100%;
	background-color: rgb(196, 226, 242);
	font-family: 'Raleway', sans-serif;
	color: rgb(45, 43, 43);
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 80px;
	text-align: center;
}

#form {
	width: 50%;
	margin: 0 auto;
	vertical-align: middle;
	/*background-color: rgb(196, 226, 0);*/
	/*text-align: center;*/
}

#start {
	display: block;
	border: 1px solid;
	border-radius: 20px;
	width: 50%;
	margin: 0 auto;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	background-color: rgb(196, 226, 242);
	cursor: pointer;
}