# These are intellij project files
Sprint 2 Demo/*.iml
Sprint 2 Demo/.idea/*

# This is a cache for gradle
Sprint 2 Demo/.gradle/*

# These are compiled artifacts
Sprint 2 Demo/build/*

# This is where intellij builds the project
Sprint 2 Demo/out/*

*/__pycache__/
*/__pycache__/*
*.pyc

*.db

wattx_app/.idea/
